<style>
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    font-style: bold;
    font-size: 35px;
  }

  .p{
    align-content: center;
  }
  </style>



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<p>
<!-- <br> -->
<img src="\assets\shaws.gif" style="width:320px;height:93px;">
</p>

<div align="center"  >
<!-- <h1 >{{Details && Details[0]?.location}}</h1> -->

<div>
<label>RoomNo: </label>
<select [(ngModel)]="roomSelected" >
<option *ngFor="let x of Details"  [value]=[x.summary,x.start_date,x.start_time,x.end_time]>  

{{x.location}}
</option> 

</select>   
<br> 
<div ng-if="roomSelected">
<h3>{{roomSelected }}</h3>
</div>
</div>

</div>
 

<div class="container">
  <div class="floatLeft">
    <app-schedule></app-schedule>

  </div>
  

  <div class="floatRight">

<circle-progress

[percent]="100"
[radius]="250"
[outerStrokeWidth]="70"
[innerStrokeWidth]="30"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="600"
[unitsFontSize]="60"
[titleFontSize]="80"
[subtitleFontSize]="80"></circle-progress>
  </div>
  </div>

<div align="center" ><app-processing-timer></app-processing-timer></div>

</body>


