<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    h4 {
      border-radius: 5px;
      font-style: bold;
                  font-size: 25px;
                  background-color: #e8ff67;
 
    }
    div {
                  border-radius: 5px;
                  background-color: #f2f2f2;
                
                  font-style: bold;
                  font-size: 25px;
                }
    


    </style>
<h4>Meeting Details: </h4>
<body >
    <label>
      <div>Current Meeting Topic:</div>
      <h4>>>{{Details && Details[4]?.summary}}</h4>         

  <div> Current Meeting Time:</div>       
          
  <h4>>>{{Details && Details[3]?.start_time}}-{{Details && Details[3]?.end_time}}</h4>
    
          <div>Upcoming Meeting Topic:</div>
          
          <h4>>>{{Details && Details[4]?.summary}}</h4> 
    
         <div>Upcoming Meeting Time: </div> 
      
         <h4>>>{{Details && Details[4]?.start_time}}-{{Details && Details[4]?.end_time}}</h4>
        </label>
    </body>