<!--
  <body>
    <p>Booking Form</p>
<table cellpadding="5" cellspacing="10" width="100%" border="1" style="border-collapse: inherit">
  <td width ="50%" align="left">

    <form #booking_form="ngForm" (ngSubmit)="onSubmit()">
    {{ booking_form.value | json}}
      <br>
      Date <select type="number" id ="month" name ="month" required ngModel><br>
        <option value=01>January</option>
        <option value=02>February</option>
        <option value=03>March</option>
        <option value=04>April</option>
        <option value=05>May</option>
        <option value=06>June</option>
        <option value=07>July</option>
        <option value=08>August</option>
        <option value=09>September</option>
        <option value=10>October</option>
        <option value=11>November</option>
        <option value=12>December</option>
        </select>
        <select type="number" id ="day" name ="day" required ngModel><br>
          <option value=01>1</option>
          <option value=02>2</option>
          <option value=03>3</option>
          <option value=04>4</option>
          <option value=05>5</option>
          <option value=06>6</option>
          <option value=07>7</option>
          <option value=08>8</option>
          <option value=09>9</option>
          <option value=10>10</option>
          <option value=11>11</option>
          <option value=12>12</option>
          <option value=13>13</option>
          <option value=14>14</option>
          <option value=15>15</option>
          <option value=16>16</option>
          <option value=17>17</option>
          <option value=18>18</option>
          <option value=19>19</option>
          <option value=20>20</option>
          <option value=21>21</option>
          <option value=22>22</option>
          <option value=23>23</option>
          <option value=24>24</option>
          <option value=25>25</option>
          <option value=26>26</option>
          <option value=27>27</option>
          <option value=28>28</option>
          <option value=29>29</option>
          <option value=30>30</option>
          <option value=31>31</option>
          </select>
          <select type="number" id ="year" name ="year" required ngModel><br>
            <option value=2019>2019</option>
            <option value=2020>2020</option>
            <option value=2021>2021</option>
            <option value=2022>2022</option>
          </select><br>
          Start Time
          <select type="number" id ="start_hour" name ="start_hour" required ngModel><br>
            <option value=01>1</option>
            <option value=02>2</option>
            <option value=03>3</option>
            <option value=04>4</option>
            <option value=05>5</option>
            <option value=06>6</option>
            <option value=07>7</option>
            <option value=08>8</option>
            <option value=09>9</option>
            <option value=10>10</option>
            <option value=11>11</option>
            <option value=12>12</option>
            </select>
            <select type="number" id ="start_minute" name ="start_minute" required ngModel>
              <option value=00>00</option>
              <option value=15>15</option>
              <option value=30>30</option>
              <option value=45>45</option>
              </select>
              <select type="string" id ="startampm" name ="startampm" required ngModel>
              <option value="AM">AM</option>
              <option value="PM">PM</option>
              </select><br>
              End Time
              <select type="number" id ="end_hour" name ="end_hour" required ngModel><br>
                <option value=01>1</option>
                <option value=02>2</option>
                <option value=03>3</option>
                <option value=04>4</option>
                <option value=05>5</option>
                <option value=06>6</option>
                <option value=07>7</option>
                <option value=08>8</option>
                <option value=09>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
                </select>
                <select type="number" id ="end_minute" name ="end_minute" required ngModel>
                  <option value=00>00</option>
                  <option value=15>15</option>
                  <option value=30>30</option>
                  <option value=45>45</option>
                  </select>
                  <select type="string" id ="endampm" name ="endampm" required ngModel>
                  <option value="AM">AM</option>
                  <option value="PM">PM</option>
                  </select><br>
              Number of Physical Attendees  <input type ="number" name="attendees" id="attendees" required ngModel><br>
      Preferred Conference Room <select id ="pref_room" name ="pref_room" required ngModel><br>
        <option value="room_a">Conference Room A</option>
        <option value="room_b">Conference Room B</option>
        <option value="room_c">Conference Room C</option>
      </select>
      <br><button type="submit" value="Submit">Submit Form</button>


    </form>
  </td>
</table>
</body> -->

<body>
  <p>Enter your meeting details:</p>
  <br>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm">
    <mat-form-field>
      <mat-label>Preferred Location</mat-label>
      <select matNativeControl [(ngModel)]="location" name="location" required>
        <option value="Room A">Room A</option>
        <option value="Room B">Room B</option>
        <option value="Room C">Room C</option>
        <option value="Room D">Room D</option>
      </select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="date" [ngModelOptions]="{standalone: true}" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input mat-timepicker matInput type="time" placeholder="Start Time" [(ngModel)]="start_time" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <input mat-timepicker matInput type="time" placeholder="End Time" [(ngModel)]="end_time" [ngModelOptions]="{standalone: true}" required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="In-Person Attendees #" [(ngModel)]="no_attendees" name="no_attendees" required>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
  <br>
  <mat-card>{{text}}</mat-card>
  <br>
  Recommended Rooms:
  <br>
  <br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.room}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="capacity">
      <th mat-header-cell *matHeaderCellDef> Capacity </th>
      <td mat-cell *matCellDef="let element"> {{element.capacity}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</body>
